{% load bootstrap4 %}
<script type="text/javascript">
    $('#demo-form2').submit(function(e){
         e.preventDefault();
         $.ajax({
                type:'POST',
                url:$(this).attr("action"),
                data:$(this).serialize(),
                success: function(resp){
                    console.log(resp.negocio)
                    if(resp.status == '200'){
                        $(".modal .close").click();

                        var ruta = "https://api.whatsapp.com/send?phone=591"+resp.negocio+"&text=Hola mi nombre es: "+resp.cliente+", realize el siguiente pedido: www.pedidosweb.online/p-"+resp.id_orden+" Registrado en pedidosweb.online";
                        window.open(ruta, "Diseño Web", "width=600, height=400");
                        location.reload();
                    }
                    else{
                        //$(".modal-title").html(resp);
                        $(".modal-body").html(resp);
                    }  
                },
             error: function (xhr, ajaxOptions, thrownError) {
               alert("Error al enviar intente nuevamente gracias");
             }
         });
     });
  </script> 

<form method="POST" action="registrar_cliente_orden/{{id_negocio}}" role="form" class="form-horizontal" id="demo-form2" data-parsley-validate >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
       <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Aceptar</button>
           <button type="button" class="btn btn-secondary btn-ms" data-dismiss="modal">Cancelar</button>
       </div>
   {% endbuttons %}
 </form>