{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/tamanios.css' %}">
    <style>
      /*Portada index*/
    .imgfondoIndex{
      background-image: url('static/img/busines3.jpeg');
      background-size: cover;

      background-repeat: no-repeat;
      position: relative;
    }
    .imgfondoIndex:before{
      content: "";
      width: 500%;
      height: 100%;
      margin-left: -690px;
      position: absolute;
      background-color: rgba(221, 221, 221, 0.986);
      opacity: 0.5;
    }
    .imgfondoIndex div h1,p, button, a{
      position: relative;
    }
    .modal-header{
      background-color: #8ddfec;
    }
    </style>
    <title>Tiendas Online</title>
    
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/icon.png' %}" width="30" height="30" alt="">
            Tiendas Online
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administrador
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <a class="dropdown-item" href="#categorias" onclick="filter_categorias('{% url 'my_sites' request.user.id %}')">Mis Páginas</a>
                      
                    <!-- <a class="dropdown-item" href="#" onclick="filter_categorias('{% url 'my_sites' request.user.id %}')">Mi Perfil</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logaut' %}">Cerrar Sesión</a>
                </div>
              </li>
              {% endif %}
              
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
                      {% for categoria in categorias %}
                          <a class="dropdown-item" href="#categorias" onclick="filter_categorias('negocios_por_categorias/{{categoria.id}}')">{{categoria.nombre_categoria|title}}</a>
                      {% endfor %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/">Varios</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#ciudades" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ciudades
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    
                    {% for ciudad in ciudades %}
                    <a class="dropdown-item" href="#ciudades" onclick="filter_categorias('negocios_por_ciudades/{{ciudad.id}}')">{{ciudad.cuidad|title}}</a>
                    {% endfor %}
                      
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Varios</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nosotros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=59179436914&text=Quisiera mas información acerca de la página web" target="_blank">Contáctanos</a>
                    <a href="" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop" onclick="callData('{% url 'plan_pagos' %}','!Accede a los planes de pago¡')">Planes de Pago</a>
                    <a href="" class="dropdown-item" data-toggle="modal" data-target="#staticBackdrop" onclick="callData('{% url 'veneficios' %}','!Veneficios al utilizar tu sistema Online.¡')">Veneficios del sistema</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Varios</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="shear_form" method="post">
              <input class="form-control mr-sm-2" id="search-input" name="name_tiendas" type="search" placeholder="Buscar Tiendas" aria-label="Search" required>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
  </header>

  <div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-light imgfondoIndex">
    
    <div class="col-md-18 p-lg-18 mx-auto my-5">
        
        {% if request.user.is_authenticated %}
        <h1 class="display-4 font-weight-normal">Bienvenido: {{request.user.first_name|title}}</h1>
        {% else %}
        <h1 class="display-4 font-weight-normal">Tiendas Online</h1>
        {% endif %}
          
        
        <p class="lead font-weight-normal">En esta plataforma puedes crear tu pagina web para tu negocio, 
          crear tu catalogo digital online de todos tus productos o servicios que ofreces, ademas que tu o tus clientes puedan compartir en sus redes sociales  tu sitio web, y lo mas importante lograras que tus clientes podrán realizar su pedido haciendo te llegar directamente al WhatsApp, y por supuesto de esta forma
           aumentar tus ventas para el éxito de tu negocio, esperamos darte el mejor servicio.</p>
        
        
        {% if request.user.is_authenticated %}
          <button type="button" class="btn btn-info my-2" data-toggle="modal" data-target="#staticBackdrop" onclick="callData('{% url 'register_negocio' %}','!Registre su negocio y disfrute del servicio¡')">
            Crear nueva página web
          </button>
          
        {% else %}
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#staticBackdrop" onclick="callData('{% url 'registerUser' %}','! Ingrese los datos correctamente ¡')">
            Crear cuenta gratis
          </button>
          <button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#staticBackdrop" onclick="callData('{% url 'login' %}','! Iniciar Sesión ¡')">
            Ingresar
          </button>
        {% endif %}
          
        
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <div class="card-deck">
    
    {% block pedidos %}
      
    {% for n in negocios %}
    
      <div class="card" style=" max-width: 300px; margin: auto; margin-bottom: 20px;">
        <a href="web-{{n.slug}}" class="sinSubrayado" rel="noopener noreferrer">
        {% if n.imagen %}
        <img class="card-img-top img-fluid img-responsive img-thumbnail img-rounded" src="/media/{{n.imagen}}" style="max-height: 230px; height: 230px;" alt="Card image cap">
        {% else %}
        <img class="card-img-top img-fluid img-responsive img-thumbnail img-rounded" src="{% static 'img/localbusines.jpg' %}" style="max-height: 230px; height: 230px;" alt="Card image cap">
        {% endif %}
          
          
          <div class="card-body">
            <h5 class="card-title">{{n.nombre_negocio|title}}</h5>
            <p class="card-text text_elipsis">{{n.descripcion}}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Publicado: {{n.fecha_mod|timesince}}</small>
          </div>
        </a>
      </div>
    
      {% empty %}
      <div class="card" style="max-width: 300px; margin: auto; margin-bottom: 20px;">
        <img class="card-img-top img-fluid img-responsive img-thumbnail img-rounded" src="{% static 'img/localbusines.jpg' %}" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">No hay Registros</h5>
              <p class="card-text">No se encontro ningú registro</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">No Disponible</small>
          </div>
      </div>
    {% endfor %}
  
    {% endblock pedidos %}
  </div>

      <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    <!-- ventana modal del index -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!--contenidos de la ventana modal-->
            </div>

          </div>
        </div>
      </div>
    
    <footer>
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-6 text-left">
                  <h6 class="text-muted lead">CONTÁCTANOS:</h6>
                  <h6 class="text-muted">
                  Dir. Av. Panamericana<br>
                  Teléfonos: 79436914<br>
                  Cochabamba - Bolivia<br>
                  E-mail: <a href="mailto:codemar.potosi@gmail.com">codemar.potosi@gmail.com</a>
                  </h6>
              </div>
      
              <div class="col-xs-12 col-md-6 text-right">
                  <h6 class="text-muted lead">ENCUENTRANOS EN</h6>
                  <div class="redes-footer">
                    <a href="https://www.facebook.com/" target="_blank"><img src="imagenes/facebook-2.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="imagenes/twitter-2.png"></a>
                    <a href="https://www.youtube.com/" target="_blank"><img src="imagenes/youtube-2.png"></a>
                    <br>
                    <p class="text-muted small">Sitio web creado por "CodeMar Potosí".</p>
                  </div>
              </div>
          </div>
      
          </div>
        </div>  
      </div>
      </footer>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>