<div class="table-responsive">
    <table class="table table-hover table-striped datatable thead-light table-sm">
        <thead  class="success">
            <th style="width: 3%;">#</th><th>Producto</th><th>Cantidad</th><th>Prec Uni.</th><th>Total</th>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{pedido.producto|title}}</td>
                <td>{{pedido.cantidad}}</td>
                <td>{{pedido.precio_unitario}}</td>
                <td>{{pedido.total}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <strong>Total a pagar: Bs. {{total_pago}}</strong>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <strong>Perteneciente a: {{orden.cliente|title}}</strong>
                </td>
            </tr>
        </tfoot>
    </table>
    
        
</div>
