{% for n in negocios %}
            <div class="card">
                <img class="card-img-top img-fluid" src="/media/{{n.imagen}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{n.nombre_negocio}}</h5>
                  <p class="card-text">This is a wider card with supporting text 
                    below as a natural lead-in to additional content. This content is a little bit longer.
                    <a href="site/{{n.slug}}" rel="noopener noreferrer"><span class="badge badge-pill badge-success">Visitar</span></a>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Creado: {{n.fecha_mod|timesince}}</small>
                </div>
            </div>
          {% endfor %}