{% load bootstrap4 %}
<script type="text/javascript">
  $('#demo-form3').submit(function(e){
       e.preventDefault();
       $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: $(this).serialize(),
           success: function(resp){
               if(resp == '200'){
                $(".toast .alert-success").html("Bien!!! Realizaste tu pedido correctamente");
                $('.toast').toast({delay: 4000});
                $('.toast').toast('show');
                $(".modal .close").click();
               }
               else{
                  
                   $(".modal-body").html(resp);
                   
               }  
           },
           error: function (xhr, ajaxOptions, thrownError) {
             alert("Error al enviar intente nuevamente gracias");
           }
       });
   });
</script> 
<form action="{% url 'pedidos' catalogo.id %}" id="demo-form3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Tu pedido: </label>{{catalogo.nombre_producto|upper}}
    {% bootstrap_form form %}
    
    {% buttons %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    {% endbuttons %}
</form>