{% load bootstrap4 %}
<script type="text/javascript">
  $('#demo-form2').submit(function(e){
       e.preventDefault();
       var datos=new FormData(this);
       $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: datos,
            contentType: false,
            processData: false,
           success: function(resp){
               if(resp.status == '200'){
                    $(".toast .alert-success").html("Bien registraste un items");
                    $('.toast').toast({delay: 3000});
                    $('.toast').toast('show');
                    
                    $(".modal .close").click();
                    window.location.href = './web-{{dato.slug}}';
                    /* $.ajax({
                      type:'GET',
                      url:'./web-{{dato.slug}}',
                      success:function(resp){
                        $(".card-deck").html(resp);
                      }
                    }) */
               }
               else{
                  
                   $(".modal-body").html(resp);
                   
               }  
           },
           error: function (xhr, ajaxOptions, thrownError) {
             alert("Error al enviar intente nuevamente gracias");
           }
       });
   });
</script> 
<form action="../register_contenido/{{dato.id}}" id="demo-form2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    {% endbuttons %}
</form>