{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>{{object.nombre_negocio|title}}</title>

    <!-- Bootstrap core CSS -->
        {% bootstrap_css %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/toast.css' %}">
    <link rel="stylesheet" href="{% static 'css/tamanios.css' %}">
    
    <style>
      .quantity {
        position: relative;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number]
      {
        -moz-appearance: textfield;
      }

      .quantity input {
        width: 50px;
        height: 42px;
        
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        border: 1px solid #eee;
      }

      .quantity input:focus {
        outline: 0;
      }

      .quantity-nav {
        float: left;
        position: relative;
        height: 42px;
      }

      .quantity-button {
        position: relative;
        cursor: pointer;
        border-left: 1px solid #eee;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 13px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: 1px solid #eee;
      }

      .quantity-button.quantity-down {
        position: absolute;
        bottom: -1px;
        height: 50%;
      }
      .quantity-button.quantity-up:hover{
        color: white;
        background-color: black;
      }
      .quantity-button.quantity-down:hover{
        color: white;
        background-color: black;
      }
      .imgfondo{
        background-image: url('media/{{object.imagen}}');
        background-size: cover;
        
        background-repeat: no-repeat;
        position: relative;
      }
      .imgfondo:before{
        content: "";
        width: 500%;
        height: 100%;
        margin-left: -690px;
        position: absolute;
        background-color: rgb(255, 250, 240);
        opacity: 0.5;
      }
      .imgfondo div h1,p, button, a{
        position: relative;
      }
      .modal-header{
      background-color: #8ddfec;
    }
    </style>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand text_elipsis" href="web-{{object.slug}}">
              <img src="{% static 'img/icon.png' %}" width="30" height="30" alt="">
              {{object.nombre_negocio|upper}}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#admin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administrador
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- {% if object.nombre_negocio %}
                    <a class="dropdown-item" href="#" onclick="filter_categorias('{% url 'my_sites' object.id %}')">Editar la pagina web</a>
                    {% endif %} -->
                    <a class="dropdown-item" href="#mis-paginas-web" onclick="filter_categorias('{% url 'my_sites' request.user.id %}')">Mis Páginas Web</a>
                    
                    {% if es_propietario %}
                      <!-- <a class="dropdown-item" href="#EditarMiPaginaWeb" data-toggle="modal" data-target="#staticBackdrop" onclick="ventana_modal('edit_page_web/{{object.slug}}','Actualizar la Página web.')">Editar el sitio Web</a> -->
                      <a class="dropdown-item" href="#mis-pedidos" onclick="filter_categorias('ver_pedidos_web/{{object.id}}')">Ver mís pedidos</a>
                    
                    {% endif %}
                      

                    <!-- <a class="dropdown-item" href="#" onclick="filter_categorias('{% url 'my_sites' request.user.id %}')">Mi Perfil</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logaut' %}">Cerrar Sesión</a>
                </div>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#carrito" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Pedido(s): <i class="fa fa-cart"></i><span class="" id="compras_id">{{total_compra}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-height: 600px; overflow-y: scroll; ">
                  <div id="datas">
                    {% for data in datos %}
                      <a class="dropdown-item" href="#productos">{{data.nombre|title}} Cant: {{data.cantidad}} Precio Uni: {{data.precio_uni}} Total: {{data.total}}</a>
                    
                    {% endfor %}
                  </div>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-item" style="color: rgb(32, 58, 207);">Total a pagar: Bs. <span id="id_Total_pagos">{{total_pago}}</span></span>
                  <!-- <a class="dropdown-item" href="" target="_blank">Revisar & Confirmar</a> -->
                    <a class="dropdown-item" href="#orden" data-toggle="modal" data-target="#staticBackdrop"
                    onclick="ventana_modal('registrar_cliente_orden/{{object.id}}','Por favor ingrese sus datos para continuar con su pedido.')">Confirmar Pedido</a>
                   
                </div>
              </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="">Editar</a>
                </li> -->
                
                <li class="nav-item">
                  <a class="nav-link" href="#página actual" onclick="comfirmar()">Inicio</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#editar">Editar</a>
            </li> -->
              </ul>
              
              {% if request.user.is_authenticated and es_propietario %}
                <form class="form-inline my-2 my-lg-0" id="shear_form" method="post">
                  
                  {% if object.plan_basic and object.plan_premiun %}
                    <Label style="color: white;">Plan Premiun</Label>
                    {% else %}
                    
                    {% if object.plan_basic %}
                      <Label style="color: white;">Plan Basic</Label>
                      {% else %}
                      <Label style="color: white;">Plan Gratis</Label>
                    {% endif %}
                      
                  {% endif %}
                </form>
              {% endif %}
                
          </div>
      </nav>
  </header>
    <div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-light imgfondo">
      <div class="col-md-18 p-lg-18 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{object.nombre_negocio|title}}</h1>
        <p class="lead font-weight-normal">{{object.descripcion}}</p>
        
        {% if es_propietario %}
            <button type="button" class="btn btn-success my-2" 
            data-toggle="modal" data-target="#staticBackdrop" 
            onclick="ventana_modal('../register_contenido/{{object.id}}','!Registre su Producto¡')">
            Registrar Contenido</button>
          {% endif %}
          <p class="card-text">Comparte nuestra página web en: </p>
          <a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=./web-{{object.slug}}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');" class="icon icon-facebook btn btn-primary my-2" id="facebook" title="Comparte en Facebook">Facebook</a>
          
          <a href="javascript: void(0);" onclick="window.open('whatsapp://send?text={{object.descripcion}}, visita mi página web /?u=./web-{{object.slug}}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');" class="icon icon-whatsapp btn btn-success my-2" id="whasap" title="Comparte en Whatsapp">WhatsApp</a>
          <a class="btn btn-info my-2" href="https://api.whatsapp.com/send?phone=591{{object.celular}}" target="_blank"> Contáctanos</a>
        
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <div class="card-deck">
  
    {% for c in  catalogos %}
      <div class="card" id="card_catalogo" style="max-width: 300px; margin: auto; margin-bottom: 20px;">
          <img class="card-img-top img-fluid img-responsive img-thumbnail img-rounded" src="/media/{{c.imagen}}" style="max-height: 230px; height: 230px; border-radius: 10px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{c.nombre_producto|title}}</h5>
            <p class="card-text">{{c.descripcion}}</p>
            <span class="badge badge-pill badge-success">Precio: {{c.precio}} bs.</span>
            <form action="realizar_pedido/{{c.id}}" id="form_pedido" method="post">
              {% csrf_token %}
              <label for="id_cantidad" style="float: left; margin-top: 10px;">Cantidad:</label>
              <div class="quantity">
                
                <input type="number" name="cantidad" min="1" step="1" value="1" id="cantidad_id" required>
                
                
              </div>
              
              {% if c.estado %}
                <button type="submit" style="margin-top: 4px; margin-left: 9px;" class="btn btn-outline-success btn-sm" id="pedidos_re_{{c.id}}">Agregar al carrito</button>
              {% else %}
                <button disabled style="margin-top: 4px; margin-left: 9px;" class="btn btn-outline-success btn-sm" id="pedidos_re_{{c.id}}">Agotado</button>
              {% endif %}
                
            </form>
          </div>
          <div class="card-footer">
            <small class="text-muted">Estado
              {% if c.estado %}
                <span id="dispo_{{c.id}}" style="color: rgb(96, 233, 96);">Disponible</span>
                {% else %}
                <span id="dispo_{{c.id}}" style="color: rgb(230, 92, 92);">No disponible</span>
              {% endif %}
                
                {% if object.plan_basic  %}
                  {% if request.user.is_authenticated and es_propietario %}
                    <form method="get" style="max-width: 50px; float: right;">
                        {% csrf_token %}
                        
                        {% if c.estado %}
                          <input type="checkbox" name="dispo" id="" checked data-toggle="toggle" data-size="xs" onclick="darBaja('{{c.id}}')">
                        {% else %}
                          <input type="checkbox" name="dispo" id="" data-toggle="toggle" data-size="xs" onclick="darBaja('{{c.id}}')">
                        {% endif %}
                      </form> 
                  {% endif %}
                {% endif %}
              </small>
          </div>
      </div>
      {% empty %}
    <div class="card" style="max-width: 300px; margin: auto; margin-bottom: 20px;">
        <img class="card-img-top img-fluid img-responsive img-thumbnail img-rounded" src="static/img/localbusines.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">No hay Registros</h5>
            <p class="card-text">No se encontro ningún registro</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">No Disponible</small>
        </div>
    </div>
    {% endfor %}
  </div>
              
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <!--contenidos de la ventana modal-->
          </div>

        </div>
      </div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="alert alert-success" style="background-color:#28a745; color: white;"></div>
     
    </div>
    <footer>
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">ENCUENTRANOS:</h6>
                <h6 class="text-muted">
                Dirección: {{object.direccion}}<br>
                {{object.lugar|title}}<br>
                Celular: {{object.celular}}<br>
                </h6>
            </div>
    
            <!-- <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                  <a href="https://www.facebook.com/"><img src="imagenes/facebook-2.png"></a>
                  <a href="https://twitter.com/"><img src="imagenes/twitter-2.png"></a>
                  <a href="https://www.youtube.com/"><img src="imagenes/youtube-2.png"></a>
                  <br>
                  <p class="text-muted small">Todos los derechos reservados.</p>
                </div>
            </div> -->
        </div>
        </div>
    </footer> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% bootstrap_javascript jquery='full' %}
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
      function comfirmar(){
        let r = confirm("¿Esta seguro de volver a la pagina de inicio? se borraran los productos seleccionados.")
        
        if(r == true){
          window.location.href = '/';
        }
      }
      function darBaja(id_producto){
        $.ajax({
          type:'GET',
          url:'darBajaProducto/'+id_producto,
          success:function(resp){
            $('.text-muted #dispo_'+id_producto).html(resp.status_produc);
            if(resp.status == 'Si'){
              
              $('#form_pedido #pedidos_re_'+id_producto).removeAttr('disabled');
              $('.card #form_pedido #pedidos_re_'+id_producto).html(resp.button_status);
              //document.getElementById('pedidos_re_'+id_producto).disabled = true;
            }else{
              $('.card #form_pedido #pedidos_re_'+id_producto).attr('disabled','disabled');
              //document.getElementById('pedidos_re_'+id_producto).html(resp.button_status);
              //document.getElementById('pedidos_re_'+id_producto).disabled = 'disabled';
              //$('.text-muted #dispo_'+id_producto).html(resp.status_produc);
              $('.card #form_pedido #pedidos_re_'+id_producto).html(resp.button_status);
            }
          }
        });
      }
    </script>
  </body>
</html>
