<div class="table-responsive">
    <h5 colspan="5" align="center"><strong>LISTA DE PEDIDOS REGISTRADOS</strong></h5>
    <table class="table table-hover table-striped datatable thead-light table-sm">
        <thead>
            <th>
                Cód
            </th>
            <th>
                Cliente
            </th>
            <th>
                Fecha
            </th>
            <th>
                Detalle
            </th>
        </thead>
        {% for orden in ordenes %}
            <tr>
                <td>
                    {{orden.id}}
                </td>
                <td>
                    {{orden.cliente}}
                </td>
                <td>
                    {{orden.fecha_creacion}}
                </td>
                <td>
                    <a data-toggle="modal" data-target="#staticBackdrop" onclick="ventana_modal('lista_pedidos/{{orden.id}}','Lista de Pedidos.')" href="#pedidos">Ver Detalle</a>
                </td>
            </tr>
        {% empty %}

            <h5 colspan="5" align="center"><strong>NO HAY REGISTROS</strong></h5>
        {% endfor %}
        
    </table>
</div>