.card-deck{
    width: 100%;
    margin: auto;
  }
  .card-deck .card{
    margin-bottom: 10px;
    
  }
  .card-deck .card:hover{
    box-shadow: 0 0 10px rgb(53, 226, 189);/*añade efectos de sombra alrededor del marco de un elemento*/
    
  }
  .text_elipsis{
    white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
  }
      @media (min-width: 376px){
        .card-deck.card.card-body.card-title{
          font-size: xx-small;
          color: white;
        }
      }
      /*cuando la pantalla tengo un maximo de*/
      @media (max-width: 400px){
        .header .navbar .navbar-brand{
          font-size: 15px;
        }
      }
 /*  cuando la pantalla sea mayor de 576px  */ 
      @media (min-width: 576px){
        .card-deck{ 
          flex-direction: column;
          margin: auto;
        }
       
        
      }
      /*  cuando la pantalla sea mayor de 768px  */ 
      @media (min-width: 768px){ 
        .card-deck{  
          display: flex;
          flex-direction: row;
        }
        .card-deck .card{
            min-width: 300px;
            margin: auto;
        }

      }
      @media (min-width: 768px) and (max-width: 865px) {
        .header .navbar #navbarSupportedContent #shear_form button{
          display: none;
        }
      }
      
  footer {
      background-color:#1A1A1A;
      height: 50%;
      color: white;
      padding: 15px;
      }

      .main1 { 
      display:flex;
      margin:0 auto;
      }

      a img:hover {
          color: #fff;
  }
  .sinSubrayado{
    text-decoration: none;
  }